@import "./Colours.scss";
@import "./Typography.scss";

.sidebar-item {
  background-color: $backgroundColour1;
  border-radius: 5px;
  margin: 0.25rem;

  padding: 1rem;

  img {
    display: inline;
    margin-right: 0.5rem;
  }

  p {
    @extend %small-text;
    display: inline;
  }
}
